* {
  box-sizing: border-box;
}

/* Sets the Profile Portrait*/
.profile__portrait {
  width: 250px;
  margin-right: 40px;
  /* add rounded corners */
  border-radius: 10%;
}

.profile__portrait:hover {
  border: 1px solid rgb(255, 254, 254);
}

.logo_icon {
  width: 10vh;
  display: pointer;
  align-items: left;
}

.page-header {
  align-items: center;
}

.main-navigation {
  display: flex;
  background-color: rgb(255, 255, 255);
}

.navigation-list a {
  color: rgb(1, 90, 41);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navigation-list a:hover {
  background-color: #ddd;
  color: black;
}

@media (max-width: 700px) {
  .navigation-list {   
    flex-direction: column;
  }
}