* {
  box-sizing: border-box;
}

.header_text {
  padding: 20px;
  color: rgb(0, 0, 0);
  font-size: 30px;
}

h1 {
  font-size: 35px;
}

h1,
h2,
h3 {
  text-align: center;
}

h3 {
  color: grey;
}

.project-screen {
  width: 100%;
  align-items: baseline;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.project-screen:hover {
  border: 1px solid #777;
}

.container {
  padding: 0 16px;
}

.grid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  float: left;
  margin-bottom: 16px;
  padding: 0 8px;
}

.grid__item {
  padding: 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.grid__item:hover {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.vertical {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.button {
  margin: 5px;
  outline: 0;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.logo_icon {
  width: 10vh;
  display: pointer;
  align-items: left;
}

.page-header {
  align-items: center;
}

.main-navigation {
  display: flex;
  background-color: rgb(255, 255, 255);
}

.navigation-list a {
  color: rgb(1, 90, 41);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

.navigation-list a:hover {
  background-color: #ddd;
  color: black;
}

@media (max-width: 700px) {
  .navigation-list {
    flex-direction: column;
  }
  .grid {
    width: 100%;
    display: block;
  }
}
