* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-3 {
    width: 25%;
}

.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.project-screen {
    height: 150px;
    width: auto;
    align-items: baseline;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.project-screen:hover {
    border: 1px solid #777;
}

.grid {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.grid__item {
    padding: 10px 10px;
}

.grid__item:hover {
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.button {
    padding: 10px;
}

.logo_icon {
    width: 10vh;
    display: pointer;
    align-items: left;
}

.page-header {
    align-items: center;
}

.main-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}