/* Sets Scroll To Top Button styles */
#scrollBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/* Sets Button hover styles for the Scroll To Top Button */
#scrollBtn:hover {
  background-color: #008e00;
}

/* Sets Arrow Up Button styles for the Scroll To Top Button */
.arrowUp {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
