* {
  box-sizing: border-box;
}

/* Sets Percentage of 95% for skills and languages bars styles */
.percentage_95 {
  width: 95%;
}

/* Sets Percentage of 90% for skills and languages bars styles */
.percentage_90 {
  width: 90%;
}

/* Sets Percentage of 85% for skills and languages bars styles */
.percentage_85 {
  width: 85%;
}

/* Sets Button styles */
.cv-button {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

/* Sets Unordered list circle styles */
ul.circle {
  list-style-type: circle;
}

/* Sets Unordered list square styles */
ul.square {
  list-style-type: square;
}
