/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Sets the percentage of 95% for skills and languages bars */
.percentage_95 {
  width: 95%;
}

/* Sets the percentage of 90% for skills and languages bars */
.percentage_90 {
  width: 90%;
}

/* Sets the percentage of 85% for skills and languages bars */
.percentage_85 {
  width: 85%;
}

/* Sets new button style */
.cv-button {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

/* Sets new unordered list circle style */
ul.circle {
  list-style-type: circle;
}

/* Sets new unordered list square style */
ul.square {
  list-style-type: square;
}

/* Sets the Social Media icons style */
.social_media {
  grid-gap: 20px;
  padding: 20px;
  display: inline-flex;
}

/* Sets the Scroll To Top Button style */
#scrollBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #555;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#scrollBtn:hover {
  background-color: #008e00;
}

.arrowUp {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
