/* Colors used 
Text Color: #141414;
Primary Background Color: #F7E1BB;
Secondary Foreground Color: #000000;
Button Secondary Color: #e0b354;
Primary link color / primary-color: #004000;
Visited link color / secondary-color: #57400F;
Active link color / dark-grey: #2b2b2b;
*/

/* Sets variables */
:root {
  /* Primary link color var */
  --primary-color: #004000;
  /* Visited link color var*/
  --secondary-color: #57400f;
  /* Primary Background Color var*/
  --bkground-color: #f7e1bb;
  /* Secondary Foreground Color */
  --sec-bkground-color: #000000;
  /* Button Secondary Color var*/
  --button-sec-color: #e0b354;
  /* Active link color var*/
  --dark-grey: #2b2b2b;
  /* Basic font weight var*/
  --basic-font-weight: 400px;
  /* Headings font weight var*/
  --heading-font-weight: 700px;
  /* Fallback font family var*/
  --font-family-fallback: "Lato", sans-serif;
  /* h1, h2, h3 font family var*/
  --h1-font-family: "Benne";
  --h2-h3-font-family: "Oxygen";
  /* The font-size var */
  --basic-font-size: 16px;
  --h1-font-size: 30px;
  --h2-font-size: 24px;
  --h3-font-size: 18px;
  /* The line-height var */
  --basic-line-height: 1.6;
  /* Grid background color var */
  --grid-bkground-color: #f9f9f9;
}

* {
  box-sizing: border-box;
}

body {
  /* Sets the font to Lato and the fallback font sans-serif*/
  font-family: var(--font-family-fallback);
  /* Sets the font to embed the regular (400) version */
  font-weight: var(--basic-font-weight);
  /* Sets the font size to specific size*/
  font-size: var(--basic-font-size);
  /* Sets the line-height to specific line-height*/
  line-height: var(--basic-line-height);
}

h1 {
  /* Sets the fonts size to specific size*/
  font-size: var(--h1-font-size);
  font-weight: var(--heading-font-weight);
  font-family: var(--h1-font-family);
}

h2 {
  /* Sets the fonts size to specific size*/
  font-size: var(--h2-font-size);
  font-weight: var(--heading-font-weight);
  font-family: var(--h2-h3-font-family);
}

h3 {
  /* Sets the fonts size to specific size*/
  font-size: var(--h3-font-size);
  font-weight: var(--heading-font-weight);
  font-family: var(--h2-h3-font-family);
}

/* Primary link color */
a {
  color: var(--primary-color);
}

/* Visited link color */
a:visited {
  color: var(--secondary-color);
}

/* Selected link color */
a:active {
  color: var(--dark-grey);
}

/* No underlinig when hovering over a link */
a:hover, 
a:focus,
/* No decoration for social media links */
.social_media__link {
  text-decoration: none;
}

/* General settings for Buttons */
button,
.button {
  /* Overwrites browser defaults and reset the border */
  /* Resets the border */
  border: none;
  display: inline-block;
  /* Takes the font from the outer container */
  font-family: inherit;
  /* Styles the backgound color, font color, and text decoration () */
  background-color: var(--bkground-color);
  color: var(--sec-bkground-color);
  text-decoration: none;
  /* adds spacing to the button */
  padding: 10px;
  border-radius: 3px;
  /* gives the button a bottom border with a width of 2px, a type of solid, and a color in RGBA format */
  border-bottom: 2px solid RGBA(0, 0, 0, 0.3);
  /* Sets transition-duration and transition-property */
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}

/* The second button */
.button_secondary {
  background-color: var(--button-sec-color);
  color: var(--primary-color);
}

/* Sets the Profile Portrait*/
.profile__portrait {
  width: 250px;
  margin-right: 40px;
  /* add rounded corners */
  border-radius: 10%;
}

.profile__portrait:hover {
  border: 1px solid rgb(255, 254, 254);
}

/* Sets the Flexbox layout for Footer*/
.page_footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* Sets the page <div> */
.profile,
.about_me,
.contact_me,
.contact_form {
  max-width: 700px;
  margin: 0 auto;
  /* Sets Flex properties: flex-grow: 1, flex-shrink: 1, flex-basis: 100px*/
  flex: 1 1 100px;
}

/* Sets the default width of the element via box-sizing property and border-box value  */
* {
  box-sizing: border-box;
}

/* Sets Flexbox for header parent container */
.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
}

/* Put the img item around the center */
.page-header img {
  align-self: center;
}

/* Sets Flexbox for header child container */
.page-header__item {
  flex: 0 1 200px;
}

/* Targeting the last child of the two flexbox child items */
.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

/* Get rid of the dots from the navigation unordered list */
.navigation-list {
  list-style-type: none;
}
/* This will align in a row (inline-block) and give it some space in-between */
.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

/* no decoration for active links */
.navigation-list li .navigation-list__item--active {
  text-decoration: none;
}

/* Make an actual grid container. Grid-template-columns: 300px 300px 300px; fractions are better than pixels - they are responsive */
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

/* The grid items a background color */
.grid__item {
  background-color: var(--grid-bkground-color);
  width: auto;
  min-height: auto;
  margin: 0;
}

/* You first target the last grid__item with the pseudo-selector :last-child; */
.grid_item:last-child {
  grid-column: 3 / 3;
  grid-row: 1 / 3;
}

/* Media queries which defines the rule that should be applied up to screen size 500px (0px -> 500px) */
@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

/* go from a 3-column grid to a 2-column grid when the screen’s width is greater than 500px but less than 750px. 500px -> 750px */
@media all and (max-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Shared code. Total combined width range: 0px → 750px; */
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid_item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
  h1 {
    font-size: 22px;
  }
}

/* The selector witch sets rule-set for 'color-change' animation */
@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

/* Sets animation-duration, -name, -iteration-count, -direction, -timing-function */
.sun {
  animation: 4s color-change infinite alternate linear;
}

/* the 'cloud-front' will move from (0, 50px) to (200px, 50px). x - horizontal value, y - vertical value */
@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }
  to {
    transform: translate(200px, 50px);
  }
}

/* Sets animation-duration, -name, -iteration-count, -direction, -timing-function for cloud-front*/
.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

/* the 'cloud-back' will move from (446px, 48px) to (100px, 48px). x - horizontal value, y - vertical value */
@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }
  to {
    transform: translate(100px, 48px);
  }
}

/* Sets animation-duration, -name, -iteration-count, -direction, -timing-function for cloud-front*/
.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}
