/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

/* Colors used 
Text Color: #141414;
Primary Background Color: #F7E1BB;
Secondary Foreground Color: #000000;
Button Secondary Color: #e0b354;
Primary link color / primary-color: #004000;
Visited link color / secondary-color: #57400F;
Active link color / dark-grey: #2b2b2b;
*/

/* Add the Tailwindcss directives */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* Sets variables */
/* :root {
  /* Primary link color var */
/* Visited link color var*/
/* Primary Background Color var*/
/* Secondary Foreground Color */
/* Button Secondary Color var*/
/* Active link color var*/
/* Basic font weight var*/
/* Headings font weight var*/
/* Fallback font family var*/
/* h1, h2, h3 font family var*/
/* The font-size var */
/* The line-height var */
/* Grid background color var 
} */

/* Sets the default width of the element with box-sizing property and border-box styles */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* Sets the font to Lato and the fallback font to Sans-serif */
  font-family: "Lato", sans-serif;
  /* Sets the font weight to embed the regular (400) version */
  font-weight: 400;
  /* Sets the font size to a specific size */
  font-size: 16px;
  /* Sets the line height to a specific value */
  line-height: 1.6;
}

/* Align h1-h3 tags to center */
h1,
h2,
h3 {
  text-align: center;
}

/* Sets h1 tag font size, font-weight, and font-family styles */
h1 {
  font-size: 30px;
  font-weight: 700;
  font-family: "Benne";
}

/* Sets h2 tag font size, font-weight, and font-family styles */
h2 {
  font-size: 24px;
  font-weight: 700;
  font-family: "Oxygen";
}

/* Sets h3 tag font size, font-weight, and font-family styles */
h3 {
  font-size: 18px;
  font-weight: 700;
  font-family: "Oxygen";
}

/* Sets primary link color styles */
a {
  color: #004000;
}

/* Sets visited link color styles */
a:visited {
  color: #57400f;
}

/* Sets selected link color styles */
a:active {
  color: #2b2b2b;
}

/* Removes the underline for link hover */
a:hover, 
a:focus,

/* Removes the decoration for social media links */
.social_media__link {
  text-decoration: none;
}

/* Sets general styles for Buttons */
.button,
button {
  /* Overwrites browser defaults and reset the Button border */
  border: none;
  display: inline-block;
  /* Sets the Button font family to be inherited */
  font-family: inherit;
  /* Sets the Button backgound color, font color, text decoration, and text align */
  background-color: #04151f;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  /* Adds the Button margin, paddings, and border-radius, and bottom border */
  padding: 10px;
  margin: 5px 0;
  border-radius: 4px;
  border-bottom: 2px solid RGBA(0, 0, 0, 0.3);
  /* Sets Button transition-duration and transition-property */
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus .active,
.collapsible:hover {
  /* Changes the cursor to a pointer when hovering over the button */
  cursor: pointer;
  color: #183a37;
  background-color: #efd6ac;
}

/* Sets the second Button styles */
.button_secondary {
  background-color: #e0b354;
  color: #004000;
}

/* Sets percentage bars styles */
.bar-color {
  background-color: #04151f;
  color: #ffffff;
}

/* Sets percentage bars background styles */
.bar-background {
  background-color: #efd6ac;
}

/* Sets the tab-size styles */
.tab {
  tab-size: 2;
}

/* Sets icons color styles */
.icon {
  color: #183a37;
}

/* Sets responsive logo styles */
.logo_icon {
  width: 10vh;
  display: block;
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: center;
}

/* Sets Profile Portrait styles */
.profile__portrait {
  width: 215px;
  /* add rounded corners styles */
  border-radius: 10%;
  display: block;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Sets Profile Image hover animation styles */
.profile__portrait:hover {
  border: 1px solid rgb(255, 254, 254);
}

/** Sets Footer styles */
footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  padding: 10px;
}

/* Sets Page header styles */
.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

/* Sets Page header image styles */
.page-header img {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

/* Sets Page header item styles */
.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
}

/* Sets Last-child styles for page header item */
.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

/* Sets main navigation links styles */
.main-navigation a {
  color: #183a37;
  border-color: #183a37;
}

/* Sets main navigation links hover styles */
.main-navigation a:hover {
  color: #efd6ac;
  border-color: #efd6ac;
  color-scheme: dark;
  text-shadow: 1px 1px 1px #183a37;
}

/* Sets Grid title styles */
.grid_title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  grid-gap: 20px;
  padding: 20px;
}

/* Sets Grid container styles for the portfolio page */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
}

/* Sets Grid item container styles for the portfolio page */
.grid__item {
  background-color: #f9f9f9;
  width: auto;
  min-height: auto;
  margin: 0;
}

/* Sets Last-child container styles for the portfolio page grid item */
.grid_item:last-child {
  -ms-grid-column: 3;
  grid-column: 3 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
}

/* Sets responsive Media Queries for desktop screens */
@media only screen and (min-width: 1024px) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }

  .button,
  button {
    /* Overwrites browser defaults and reset the Button border */
    border: none;
    display: inline-block;
    /* Sets the Button font family to be inherited */
    font-family: inherit;
    /* Sets the Button backgound color, font color, text decoration, and text align */
    background-color: #04151f;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
  }

  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    /* Changes the cursor to a pointer when hovering over the button */
    cursor: pointer;
    color: #183a37;
    background-color: #efd6ac;
  }
}

/* Sets responsive Media Queries for mobile screens */
@media (max-width: 700px) {
  .grid {
    width: 100%;
    display: block;
  }

  .button,
  button {
    /* Overwrites browser defaults and reset the Button border */
    border: none;
    display: inline-block;
    /* Sets the Button font family to be inherited */
    font-family: inherit;
    /* Sets the Button backgound color, font color, text decoration, and text align */
    background-color: #04151f;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
  }

  button:hover,
  button:focus,
  .button:hover,
  .button:focus {
    /* Changes the cursor to a pointer when hovering over the button */
    cursor: pointer;
    color: #183a37;
    background-color: #efd6ac;
  }
}

/* Sets the padding styles for specific sections */
.w3-bar .w3-button {
  padding: 16px;
}

/* Sets Percentage of 99% for skills bars styles */
.percentage_99 {
  width: 99%;
}
/* Sets Percentage of 95% for skills bars styles */
.percentage_95 {
  width: 95%;
}

/* Sets Percentage of 90% for skills bars styles */
.percentage_90 {
  width: 90%;
}

/* Sets Percentage of 85% for skills bars styles */
.percentage_85 {
  width: 85%;
}

/* Sets shadow styles for skills bars */
.bar-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* Sets shadow hover styles for skills bars */
.bar-shadow:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Sets Button styles */
.cv-button {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}

/* Sets Circle styles for unordered list */
ul.circle {
  list-style-type: circle;
}

/* Sets Square styles for unordered list */
ul.square {
  list-style-type: square;
}

/* Sets Portfolio h3 styles */
h3.portfolio {
  color: #737373;
}

/* Sets Section and Portfolio footer styles */
section,
footer.portfolio {
  max-width: 1400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Sets Project images styles */
.project-screen {
  /* width: 100%; */
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  border: 1px solid #ccc;
  cursor: zoom-in;
  display: block;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  padding: 5px;
  height: 150px;
}

/* Sets Project image hover styles */
.project-screen:hover {
  border: 1px solid #777;
}

/* Sets Container styles */
.container {
  padding: 0 16px;
}

/* Sets Portfolio grid style */
.portfolio_grid {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  float: left;
  margin-bottom: 16px;
  padding: 0 8px;
}

/* Sets Protfolio grid item styles */
.portfolio_grid_item {
  padding: 10px 10px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

/* Sets Portfolio grid item hover styles */
.portfolio_grid_item:hover {
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Sets Portfolio button styles */
.protfolio_button {
  outline: 0;
  cursor: pointer;
  width: 100%;
}

/* Sets Social Media icons styles */
.social_media {
  grid-gap: 20px;
  padding: 20px;
  display: inline-flex;
}

/* Sets styles for Scroll To Top Button */
#scrollBtn {
  display: none;
  position: fixed;
  bottom: 45px;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #183a37;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/* Sets hover styles for Scroll To Top Button */
#scrollBtn:hover {
  background-color: #efd6ac;
  text-shadow: 1px 1px 1px #183a37;
}

/* Sets Arrow Up Button styles for Scroll To Top Button */
.arrowUp {
  border: solid;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

/* Set background styles for Forms */
.form-all:before {
  background: none;
}

/* Set font styles for Form pagebreak containers */
.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
  font-family: Inter, sans-serif;
}

/* Set font styles for Form headers */
.form-header-group {
  font-family: Inter, sans-serif;
}

/* Set font styles for Form labels */
.form-label {
  font-family: Inter, sans-serif;
}

/* Set styles for Form lines */
.form-line {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* Set styles for all Form */
.form-all {
  max-width: 752px;
  width: 100%;
  font-size: 16px;
  color: #2c3345;
  background-image: none;
  font-family: Inter, sans-serif;
}

/* Set styles for Form labels */
.form-label.form-label-auto {
  display: block;
  float: none;
  text-align: left;
  width: 100%;
}
.form-label.form-label-left,
.form-label.form-label-right,
.form-label.form-label-left.form-label-auto,
.form-label.form-label-right.form-label-auto {
  width: 230px;
}
.form-label-top,
.form-label-left,
.form-label-right,
.form-html,
.form-checkbox-item label,
.form-radio-item label {
  color: #2c3345;
}
.form-sub-label {
  color: #464d5f;
}

.submit-button {
  border: none;
  display: inline-block;
  background-color: #04151f;
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  min-width: 180px;
  font-family: inherit;
  font-size: 16px;
  font-weight: normal;
  font-family: "Inter", sans-serif;
}

.form-submit-button:not(.form-sacl-button) {
  color: #ffffff;
  background: #183a37;
  box-shadow: none;
  text-shadow: none;
}

.submit-button:hover {
  border: none;
  cursor: pointer;
  color: #183a37;
  background-color: #efd6ac;
}

/* Set styles for Form pagebreaks */
.form-all .form-pagebreak-back-container,
.form-all .form-pagebreak-next-container {
  font-size: 16px;
}

/* Set styles for Form headers */
.form-header-group .form-header {
  color: #2c3345;
}

/* Set styles for Form subheaders */
.form-header-group .form-subHeader {
  color: #2c3345;
}

/* Set styles for Form 'supernova' class */
.supernova {
  background-color: #ffffff;
  background-image: none;
}
.supernova body {
  background: transparent;
}
.supernova .form-all,
.form-all {
  background-color: #ffffff;
}

/* Set styles for Form subheaders */
.form-textbox,
.form-textarea,
.form-dropdown,
.form-radio-other-input,
.form-checkbox-other-input,
.form-captcha input,
.form-spinner input {
  background-color: #fff;
}

/* Set styles for Form 'stage' id */
#stage {
  background-image: none;
}

/* Set styles for Form 'ie-8' class */
.ie-8 .form-all:before {
  display: none;
}
.ie-8 {
  margin-top: auto;
  margin-top: initial;
}

/* Set styles for Form Links */
.contactFormLink {
  max-width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Sets responsive media queries styles for Contact Form */
@media print {
  /* Set the display styles of the form section */
  .form-section {
    display: inline !important;
  }

  /* Set the display styles of the form pagebreak */
  .form-pagebreak {
    display: none !important;
  }

  /* Set the display styles of the closed form section */
  .form-section-closed {
    height: auto !important;
  }

  /* Sets the display styles of the page section */
  .page-section {
    position: initial !important;
  }
}

/* Sets the styles for the accordion sections */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/* Sets the styles for the accordion:hover section */
.active,
.accordion:hover {
  background-color: #dcff9a;
}

/* Sets the styles for the accordion panel section */
.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.material-icons {
  font-size: 46px;
}

/* Sets the styles for collapsible sections */
.collapsible {
  background-color: #183a37;
  color: #ffffff;
  /* background-color: #777;
  color: white; */
  cursor: pointer;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  border-radius: 4px;
}

.collapsible:after {
  content: "\002B";
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}
