/* Sets the Profile Portrait*/
.profile__portrait {
  width: 250px;
  margin-right: 40px;
  /* add rounded corners */
  border-radius: 10%;
}

.profile__portrait:hover {
  border: 1px solid rgb(255, 254, 254);
}

.logo_icon {
  width: 10vh;
  display: pointer;
  align-items: left;
}

.page-header {
  align-items: center;
}

.main-navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
